<%- include("partials/header") %>





      <div class="starter-template">
        <h1>SGE</h1>
        <p class="lead">
          Sistema para cadastrar e controlar equipamentos<br />
          
        </p>
      </div>

<%- include ("partials/footer") %>